body {
  height: 3000px;
}

.right {
  background-color: green;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 90px;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.b {
  background-color: white;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  width: 300px;
}

.modal {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}

.this {
  font-family: Arial;
  margin-bottom: 12px;
}
