.flo_pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 100px;
  margin-right: 5px;
}
.box {
  vertical-align: middle;
  border: none;
  width: 300px;
}
.tweet {
  background-color: blue;
  color: white;
  border: none;
  vertical-align: middle;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 15px;
  padding-top: 8px;
  font-weight: bold;
}
.di {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 450px;
  border-radius: 6px;
}
