div {
  text-align: center;
}

.google {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;

  margin-bottom: 30px;
  border-radius: 30px;
  width: 500px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
}

.gg_button {
  background-color: rgb(222, 220, 220);

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  border: none;
}
