.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.flower {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 10px;
}

.di {
  width: 300px;
}

.oli {
  font-weight: bold;
  margin-bottom: 1px;
}

.cat {
  color: rgb(79, 78, 78);
  margin-bottom: 3px;
}

.popu {
  color: rgb(79, 78, 78);
  font-size: 14px;
}

.follow {
  background-color: rgb(26, 134, 206);
  color: white;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
